$list-box-bg-1: #8dc3d4;
$list-box-bg-2: #add8e6;

.list-box {
    max-width: 600px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 5px;
    position: relative;
    text-align: center;
    z-index: 888;

    .close-list-box {
        font-size: 1.6rem;
        position: absolute;
        right: 10px;
        top: 5px;
    }

    h2 {
        margin: 0;
    }

    .parts {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        &.column {
            flex-direction: column;
        }

        &.row,
        .parts {
            flex-direction: row;
            justify-content: center;

            .part {
                justify-content: flex-start;
            }
        }

        .parts-title {
            font-weight: bold;
        }

        .parts {
            .parts {
                .part {
                    background-color: $list-box-bg-2;
                }
            }

            .part {
                background-color: $list-box-bg-1;
            }
        }

        .part {
            background-color: $list-box-bg-2;
            border-radius: 10px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 10px;
            padding: 10px;
            text-align: center;
        }
    }
}
