$list-box-bg-1: #8dc3d4;
$list-box-bg-2: #add8e6;

.list-box {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px;
    position: relative;
    text-align: center;
    z-index: 888;

    .list-button.close-list-box {
        font-size: 1.6rem;
        position: absolute;
        right: 10px;
        top: 5px;
    }

    h2 {
        margin: 0 25px;
    }

    .list-button {
        font-size: 1rem;
    }

    .pali-word {
        display: flex;
        font-style: italic;

        & > div {
            padding: 10px;
            border: 1px solid $list-box-bg-1;
        }

        .english {
            background-color: lavender;
            border-radius: 10px 0 0 10px;
            border-right: 0;
        }

        .pali {
            background-color: rgb(240, 240, 252);
            border-left: 0;
            border-radius: 0 10px 10px 0;
        }
    }

    .list-box-suttas {
        a {
            text-decoration: none;
        }
    }

    ul {
        li {
            text-align: left;
        }
    }

    .parts {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        &.column {
            flex-direction: column;
        }

        .parts-title {
            font-weight: bold;
        }

        .parts {
            flex-direction: row;
            justify-content: center;

            .parts {
                .part {
                    background-color: $list-box-bg-2;
                }
            }

            .part {
                background-color: $list-box-bg-1;
                justify-content: flex-start;
            }
        }

        .part {
            background-color: $list-box-bg-2;
            border-radius: 10px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 10px;
            padding: 10px;
            text-align: center;

            &.row {
                flex-direction: row;
                justify-content: center !important;
            }
        }
    }
}
