.settings {
    max-width: 100%;
    min-height: 50px;
    width: 100%;
    background-color: #222;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px 15px;
    margin: auto;
    padding: 10px 15px;
    position: sticky;
    top: 0;
    z-index: 999;

    button {
        appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;

        background-color: transparent;
        border: 0;
        color: #add8e6;
        font-family: "Archivo Narrow", sans-serif;
        font-size: 1rem;
        font-weight: bold;
        padding: 0;
        text-decoration: underline;

        &:hover {
            color: #fff;
            cursor: pointer;
        }

        &.info-button {
            text-decoration: none;
        }
    }

    .select-wrapper {
        display: flex;
        align-items: center;
        position: relative;

        & > * {
            color: #add8e6;
            font-family: "Archivo Narrow", sans-serif;
        }

        &:hover {
            * {
                cursor: pointer;
            }

            select,
            .select-arrow {
                color: #fff;
            }
        }

        select {
            appearance: none;
            background-color: transparent;
            border: 1.5px solid #add8e6;
            border-radius: 3px;
            font-size: 1rem;
            font-style: italic;
            padding-left: 5px;
            padding-right: 25px;
            position: relative;
            z-index: 2;

            &:hover {
                border-color: #fff;
            }

            option {
                background-color: #fff;
                color: #000;
                font-style: normal;
            }
        }

        .select-arrow {
            font-size: 0.8rem;
            line-height: 0;
            position: absolute;
            right: 5px;
            z-index: 1;
        }
    }
}
